html{
font-size:16px;
}

body{
background :#e1e3b6;
font-family:"Inter",sans-serif;
font-weight:400;
line-height:24px;
color:#55206d;
margin:0;
padding:0;
}

h1{
font-family:"League Spartan",sans-serif;
font-size:48px;
font-weight:700;
line-height:50px;
color:#190d37;
margin-top:10px;
margin-bottom:30px;
}

h2{
font-family:"League Spartan",sans-serif;
font-size:36px;
font-weight:700;
line-height:40px;
color:#000000;
}

.bigtext{
color:#331e6a;
font-family:"Poppins",sans-serif;
font-size:18px;
font-weight:400;
line-height:32px;
margin-bottom:8px;
}

#hero-section{
display:flex;
max-width:1060px;
margin:0 auto 48px auto;
}

#hero-text{
width:50%;
padding:32px 20px 32px 20px;
}

#hero-image-wrapper{
max-width:100%;
float:right;
margin:100px auto;
}

#hero-image{
width:100%;
border-radius:10px;
border-bottom-left-radius:100px;
}

.smalltext{
font-family:"Inter",sans-serif;
font-size:12px;
font-weight:400;
line-height:14px;
color:#000000;
}

#hi-and-name{
margin-top:16px;
}

#contact-button{
height:44px;
width:138px;
border:2px solid black;
background-color:white;
font-family:Inter;
font-size:16px;
font-weight:500;
line-height:19px;
color:black
cursor:pointer;
text-decoration:none;
padding:8px;
border-radius:4px;
}

#contact-button:hover{
background-color:blue;
color:white;
}

#pricing-section{
max-width:1060px;
margin:48px auto;
}

.overtitle{
font-family:Poppins;
font-size:12px;
font-weight:600;
line-height:18px;
text-transform:uppercase;
color:#2858ff;
text-align:center;
margin-bottom:8px;
}

.section-heading{
text-align:center;
max-width:700px;
margin:0 auto;
}

.section-subtitle{
text-align:center;
margin:8px auto 48px auto;
max-width:700px;
}

#pricing-boxes{
display:flex;
}

.pricing-box{
width:33.33%;
}

.pricing-card{
background-color:white;
margin:0 10px;
border-radius:10px;
box-shadow:6px 2px 25px -9px #0000001A;
padding:20px;
}

.service{
font-size:14px;
font-weight:500;
line-height:21px;
text-transform:uppercase;
color:#2858FF;
}

.price{
font-family:Poppins;
font-size:36px;
margin-top:8px;
font-weight:700;
line-height:54px;
color:black;
}

.price-per-page{
font-family:Poppins;
font-size:14px;
font-weight:400;
line-height:21px;
color:#8A8A8A;
}

.service-description{
font-family:Poppins;
font-size:14px;
line-height:21px;
color:#8B8B8B;
margin-top:8px;
}

.service-benefits{
padding:0;
list-style:none;
}

.service-benefits li{
margin-bottom:8px;
font-family:Poppins;
font-size:16px;
font-weight:400;
line-height:24px;
color:#666666;
}

.service-contact-button{
width:100%;
height:44px;
border-radius:4px;
border:2px solid #2F2F2F;
background-color:white;
color:#2f2f2f;
font-family:Inter;
font-size:16px;
font-weight:500;
line-height:19px;
}

.service-contact-button:hover{
background-color:#2F2F2F;
color:white;
cursor:pointer;
}

.card-2{
background-color:#FFD748;
}

.card-2 .service{
color:black:
}

.card-2 li{
color:#000000BF;
}

.card-2 .service-description{
color:#00000080;
}

.card-2 .price-per-page{
color:#00000080;
}

.card-2 .service-contact-button{
background-color:black;
color:white;
}

.card-2 .service-contact-button:hover{
background-color:white;
color:black;
}

#footer{
width:100%;
text-align:center;
padding:20px;
background-color:black;
margin-top:48px;
color:white;
font-family:Poppins;
font-size:12px;
font-weight:500;
line-height:18px;
}

.bottom-radius{
margin-bottom:-4px;
}